# Anton Melnychuk ECON 3385 - Problem Set 3

February 1st, 2026

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import statsmodels.formula.api as smf

data = pd.read_csv('sim_market.csv')
data.head()

   m       z_a       z_b   eps_d_1   eps_d_2   eps_s_1   eps_s_2
0  1  0.764311 -0.187538 -0.379044  0.985495  1.197447  0.146624
1  2 -0.604995 -1.887242 -1.128497  1.849030 -0.148301 -1.050508
2  3 -1.034992 -1.250214 -1.106938  0.835775 -0.167924 -0.271543
3  4  0.201410 -0.495516  0.932348 -0.601762  1.435051  0.029398
4  5  0.667977  1.908742  1.381370  0.450992 -0.475587 -0.163260